body {
  font-family: monospace;
  font-size: 18px;
  background: #e5f9ff;
  color: #666;
  margin: 0;
  overflow: hidden;
}

@font-face {
    font-family: 'lisbon';
    src: url('../../examples/styles/lisbon-script-webfont.eot');
    src: url('../../examples/styles/lisbon-script-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../examples/styles/lisbon-script-webfont.woff2') format('woff2'),
         url('../../examples/styles/lisbon-script-webfont.woff') format('woff'),
         url('../../examples/styles/lisbon-script-webfont.ttf') format('truetype'),
         url('../../examples/styles/lisbon-script-webfont.svg#lisbonscriptregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.wavea {
background-image: url(../../examples/images/layer1c.png);
background-size: 5141px 470px;
height: 1439px;
margin-top: 23%; 
margin-left: -27.2%;
margin-right:-20%;
-webkit-animation: wave 6.66667s 0.1s infinite linear;
-moz-animation: wave 6.66667s 0.1s infinite linear;
animation: wave 6.66667s 0.1s infinite linear;
background-repeat: no-repeat;
}

.wavea::after {
    background-color: red;
    height: 1000px;
    background-color: #d7edf9;    position: absolute;    display: block;    content: "";    width: 100%;    
    top: 29%;    left: 0;
}


.waveb {
background-image: url(../../examples/images/layer2c.png);
background-size: 2886px 465.4px;
height: 496px;
margin: 1px -471px; 
-webkit-animation: wave 6.9667s 0.2s infinite linear;
-moz-animation: wave 6.96667s 0.2s infinite linear;
animation: wave 6.96667s 0.2s infinite linear;
}

.boat {
background-image: url(../../examples/images/layer15c.png);
background-size: 309px 545.4px;
height: 746px; 
margin-left: 63%;
margin-top: -12%;
background-repeat: no-repeat;
  -webkit-animation: boat 4s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-animation: boat 4s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  
animation: boat 4s 0.1s infinite alternate cubic-bezier(0.155, 0.03, 0.515, 0.955);
}

.wavec {
background-image: url(../../examples/images/layer3c.png);
background-repeat-y: no-repeat;
background-size: 2517px 527.4px;
height: 808px;
margin: -40px -450px; 
-webkit-animation: wave 8.66667s 0.1s infinite linear;
-moz-animation: wave 8.66667s 0.1s infinite linear;
animation: wave 8.66667s 0.1s infinite linear;
}

.waved {
background: url(../../examples/images/layer4c.png);
background-size: 2416px 526.4px;
height: 566px;
margin: 38px -390px; 
-webkit-animation: wave 8.66667s 0.1s infinite linear;
-moz-animation: wave 8.66667s 0.1s infinite linear;
animation: wave 8.66667s 0.1s infinite linear;
}


img {
  display: block;
  width: 100%;
}

input[type=checkbox] {
  display: none;
}

label {
  display: inline-block;
  margin-right: 1em;
  padding: 0.4em 0;
  cursor: pointer;
}

button {
  border: 10px solid #00FFAA;
  font-family: monospace;
  position: absolute;
  line-height: 60px;
  text-align: right;
  padding: 0 1.2em;
  background: #444;
  font-size: 24px;
  cursor: pointer;
  display: block;
  outline: none;
  height: 80px;
  width: 80%;
  top: 260px;
  margin: 0;
  left: 10%;
}

button:hover {
  background: #00FFAA;
}

input[type=checkbox] + label:before {
  display: inline-block;
  position: relative;
  background: #444;
  margin-right: 8px;
  content: "";
  height: 16px;
  width: 16px;
  top: 1px;
}

input[type=checkbox]:checked + label:before {
  background: #00FFAA;
}

.container {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
 
}

.scene {
  padding: 0;
  margin: 0;
}

.fill {
  position: absolute;
  bottom: 5%;
  right: 5%;
  left: 5%;
  top: 5%;
}

.expand-width {
  width: 100%;
}

.border {
  border: 2px dashed #00FFAA;
}

.aspect {
  opacity: 0.2;
}

.layer {
width:100%;
height:100%;
}

.layer:nth-child(1) {
  
}
.layer:nth-child(1) button {
  
}

.layer:nth-child(2) {
  
}
.layer:nth-child(2) button {
  -webkit-transform: rotate(120deg);
}

.layer:nth-child(3) {
  
}
.layer:nth-child(3) button {
  -webkit-transform: rotate(90deg);
}

.layer:nth-child(4) {
  
}
.layer:nth-child(4) button {
  -webkit-transform: rotate(60deg);
}

.layer:nth-child(5) {
 
}
.layer:nth-child(5) button {
  -webkit-transform: rotate(30deg);
}

.layer:nth-child(6) {
  
}
.layer:nth-child(6) button {
}


@-webkit-keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
  }
}

@-moz-keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
  }
}

@-ms-keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
  }
}

@keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
  }
}


@-webkit-keyframes boat {
  0% {
    -webkit-transform: translate3d(15%,0,0) rotateZ(6deg);
    -moz-transform: translate3d(15%,0,0) rotateZ(6deg);
    transform: translate3d(15%,0,0) rotateZ(6deg);
  }

  100% {
    -webkit-transform: translate3d(-15%,0,0) rotateZ(-6deg);
    -moz-transform: translate3d(-15%,0,0) rotateZ(-6deg);
    transform: translate3d(-15%,0,0) rotateZ(-6deg);
  }
}

@-moz-keyframes boat {
  0% {
    -webkit-transform: translate3d(10%,0,0) rotateZ(6deg);
    -moz-transform: translate3d(10%,0,0) rotateZ(6deg);
    transform: translate3d(10%,0,0) rotateZ(6deg);
  }

  100% {
    -webkit-transform: translate3d(-10%,0,0) rotateZ(-6deg);
    -moz-transform: translate3d(-10%,0,0) rotateZ(-6deg);
    transform: translate3d(-10%,0,0) rotateZ(-6deg);
  }
}

@-ms-keyframes boat {
  0% {
    -webkit-transform: translate3d(15%,0,0) rotateZ(6deg);
    -moz-transform: translate3d(15%,0,0) rotateZ(6deg);
    transform: translate3d(15%,0,0) rotateZ(6deg);
  }

  100% {
    -webkit-transform: translate3d(-10%,0,0) rotateZ(-6deg);
    -moz-transform: translate3d(-10%,0,0) rotateZ(-6deg);
    transform: translate3d(-10%,0,0) rotateZ(-6deg);
  }
}

@keyframes boat {
  0% {
    -webkit-transform: translate3d(10%,0,0) rotateZ(6deg);
    -moz-transform: translate3d(10%,0,0) rotateZ(6deg);
    transform: translate3d(10%,0,0) rotateZ(6deg);
  }

  100% {
    -webkit-transform: translate3d(-10%,0,0) rotateZ(-6deg);
    -moz-transform: translate3d(-10%,0,0) rotateZ(-6deg);
    transform: translate3d(-10%,0,0) rotateZ(-6deg);
  }
}

div#lost {
    font-family: 'lisbon';     font-size: 11em;     
    margin-left: -15%;     
    margin-top: -11%;
    color: #FF6F69;
}


@import "compass/css3";

@mixin animation($animation) {
  -webkit-animation: $animation;
  -moz-animation: $animation;
  -ms-animation: $animation;
  -o-animation: $animation;
  animation: $animation; 
}

@mixin animation-duration($duration) {
  -webkit-animation-duration: $duration;
  -moz-animation-duration: $duration;
  -ms-animation-duration: $duration;
  -o-animation-duration: $duration;
  animation-duration: $duration; 
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.cloud {
  @include animation(clouds 60s infinite linear);
  @include border-radius(10px);
  position: relative;
  margin: 33px 0 0 0;
  
  width: 54px;
  height: 5px;
  
  background: #f7e7eb;
  
  &.tiny {
    @include scale(.5); 
  }
  
  &.small {
    @include scale(1); 
  }
  
  &.normal {
    @include scale(2); 
  }
  
  &.large {
    @include scale(4); 
  }
  
  div {
    @include box-shadow(inset -2px -3px 0 0 #f7e7eb);
    position: absolute;
  
    border-radius: 50%;
    width: 12px;
    height: 12px;
    
    left: -3px;
    bottom: 0;
  
    background: #fafbf0;
    z-index: 10;
    
    &:first-child {
      & + div {
        @include scale(1.6, 1.6);
        margin: 0 0 4px 13px;
        z-index: 9;
        
        & + div {
          @include scale(2.4, 2.4);
          margin: 0 0 9px 32px;
          z-index: 8;
        
          & + div {
            @include scale(1.3, 1.3);
            margin: 0 0 2px 50px;
            z-index: 7;
          }
        }
      }
    }
  }
}

@include keyframes(clouds) {
  0% {
    left: -100%; 
  }
  
  100% {
    left: 120%;
  }
}

.cloud-1 {
  @include animation-duration(263s);
  margin-left: 20%;
}

.cloud-2 {
  @include animation-duration(99s);
  margin-left: 90%;
}

.cloud-3 {
  @include animation-duration(142s);
  margin-left: 50%;
}

.cloud-4 {
  @include animation-duration(152s);
  margin-left: 43%;
}

.cloud-5 {
  @include animation-duration(215s);
  margin-left: 83%;
}

.cloud-6 {
  @include animation-duration(139s);
  margin-left: 73%;
}

.cloud-7 {
  @include animation-duration(109s);
  margin-left: 69%;
}

.cloud-8 {
  @include animation-duration(121s);
  margin-left: 100%;
}

.cloud-9 {
  @include animation-duration(101s);
  margin-left: 10%;
}

.cloud-10 {
  @include animation-duration(126s);
  margin-left: 14%;
}

.cloud-11 {
  @include animation-duration(96s);
  margin-left: 73%;
}

.cloud-12 {
  @include animation-duration(83s);
  margin-left: 51%;
}



body {
  background: #6dd3e7;
  overflow-x: hidden;
}

.cloud {
  -webkit-animation: clouds 60s infinite linear;
  -moz-animation: clouds 60s infinite linear;
  -ms-animation: clouds 60s infinite linear;
  -o-animation: clouds 60s infinite linear;
  animation: clouds 60s infinite linear;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  position: relative;
  margin: 33px 0 0 0;
  width: 54px;
  height: 5px;
  background: #f7e7eb;
}
.cloud.tiny {
  -moz-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  -webkit-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
}
.cloud.small {
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
.cloud.normal {
  -moz-transform: scale(2, 2);
  -ms-transform: scale(2, 2);
  -webkit-transform: scale(2, 2);
  transform: scale(2, 2);
}
.cloud.large {
  -moz-transform: scale(4, 4);
  -ms-transform: scale(4, 4);
  -webkit-transform: scale(4, 4);
  transform: scale(8, 8);
}
.cloud div {
  -moz-box-shadow: inset -2px -3px 0 0 #f7e7eb;
  -webkit-box-shadow: inset -2px -3px 0 0 #f7e7eb;
  box-shadow: inset -2px -3px 0 0 #f7e7eb;
  position: absolute;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  left: -3px;
  bottom: 0;
  background: #fafbf0;
  z-index: 10;
}
.cloud div:first-child + div {
  -moz-transform: scale(1.6, 1.6);
  -ms-transform: scale(1.6, 1.6);
  -webkit-transform: scale(1.6, 1.6);
  transform: scale(1.6, 1.6);
  margin: 0 0 4px 13px;
  z-index: 9;
}
.cloud div:first-child + div + div {
  -moz-transform: scale(2.4, 2.4);
  -ms-transform: scale(2.4, 2.4);
  -webkit-transform: scale(2.4, 2.4);
  transform: scale(2.4, 2.4);
  margin: 0 0 9px 32px;
  z-index: 8;
}
.cloud div:first-child + div + div + div {
  -moz-transform: scale(1.3, 1.3);
  -ms-transform: scale(1.3, 1.3);
  -webkit-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
  margin: 0 0 2px 50px;
  z-index: 7;
}

@-webkit-keyframes clouds {
  0% {
    left: -100%;
  }
  100% {
    left: 120%;
  }
}
@-moz-keyframes clouds {
  0% {
    left: -100%;
  }
  100% {
    left: 120%;
  }
}
@-ms-keyframes clouds {
  0% {
    left: -100%;
  }
  100% {
    left: 120%;
  }
}
@keyframes clouds {
  0% {
    left: -100%;
  }
  100% {
    left: 120%;
  }
}
.cloud-1 {
  -webkit-animation-duration: 263s;
  -moz-animation-duration: 263s;
  -ms-animation-duration: 263s;
  -o-animation-duration: 263s;
  animation-duration: 263s;
  margin-left: 20%;
}

.cloud-2 {
  -webkit-animation-duration: 99s;
  -moz-animation-duration: 99s;
  -ms-animation-duration: 99s;
  -o-animation-duration: 99s;
  animation-duration: 99s;
  margin-left: 90%;
}

.cloud-3 {
  -webkit-animation-duration: 142s;
  -moz-animation-duration: 142s;
  -ms-animation-duration: 142s;
  -o-animation-duration: 142s;
  animation-duration: 142s;
  margin-left: 50%;
}

.cloud-4 {
  -webkit-animation-duration: 152s;
  -moz-animation-duration: 152s;
  -ms-animation-duration: 152s;
  -o-animation-duration: 152s;
  animation-duration: 152s;
  margin-left: 43%;
}

.cloud-5 {
  -webkit-animation-duration: 215s;
  -moz-animation-duration: 215s;
  -ms-animation-duration: 215s;
  -o-animation-duration: 215s;
  animation-duration: 215s;
  margin-left: 83%;
}

.cloud-6 {
  -webkit-animation-duration: 139s;
  -moz-animation-duration: 139s;
  -ms-animation-duration: 139s;
  -o-animation-duration: 139s;
  animation-duration: 139s;
  margin-left: 73%;
}

.cloud-7 {
  -webkit-animation-duration: 109s;
  -moz-animation-duration: 109s;
  -ms-animation-duration: 109s;
  -o-animation-duration: 109s;
  animation-duration: 109s;
  margin-left: 69%;
}

.cloud-8 {
  -webkit-animation-duration: 121s;
  -moz-animation-duration: 121s;
  -ms-animation-duration: 121s;
  -o-animation-duration: 121s;
  animation-duration: 121s;
  margin-left: 100%;
}

.cloud-9 {
  -webkit-animation-duration: 101s;
  -moz-animation-duration: 101s;
  -ms-animation-duration: 101s;
  -o-animation-duration: 101s;
  animation-duration: 101s;
  margin-left: 10%;
}

.cloud-10 {
  -webkit-animation-duration: 126s;
  -moz-animation-duration: 126s;
  -ms-animation-duration: 126s;
  -o-animation-duration: 126s;
  animation-duration: 126s;
  margin-left: 14%;
}

.cloud-11 {
  -webkit-animation-duration: 96s;
  -moz-animation-duration: 96s;
  -ms-animation-duration: 96s;
  -o-animation-duration: 96s;
  animation-duration: 96s;
  margin-left: 73%;
}

.cloud-12 {
  -webkit-animation-duration: 83s;
  -moz-animation-duration: 83s;
  -ms-animation-duration: 83s;
  -o-animation-duration: 83s;
  animation-duration: 83s;
  margin-left: 51%;
}


li#cloudly {
    margin-top: -33%;
}

::after {}

.waved::after {
    background-color: red;
}

div#wheel {
    background-image: url(../../examples/images/wheel.png);
    width: 37%;
    height: 36%;
    background-repeat: no-repeat;
    margin-top: -11%;
    margin-left: 33%;
    /* background-size: 100% 100%; */
}

	/* Style for our header texts
	* --------------------------------------- */
	h1{
		font-size: 5em;
		font-family: arial,helvetica;
		color: #fff;
		margin:0;
		padding:0;
	}

	/* Centered texts in each section
	* --------------------------------------- */
	.section{
		text-align:center;
	}


	/* Backgrounds will cover all the section
	* --------------------------------------- */
	.section{
		background-size: cover;
	}
	.slide{
		background-size: cover;
	}

	/* Defining each section background and styles
	* --------------------------------------- */
	#section0{
	}
	#section2{
	
	}
	#section3{

	}
	#section3 h1{
		color: #000;
	}


 	/*Adding background for the slides
	* --------------------------------------- */
	#slide1{
		background: #d7edf9;
		padding: 6% 0 0 0;
	}
	#slide2{

		padding: 6% 0 0 0;
	}


	/* Bottom menu
	* --------------------------------------- */
	#infoMenu li a {
		color: #fff;
	}